@model DigitalAppraiser.Models.ViewModels.LoginModel

@{
    Layout = null;
    ViewBag.Title = "Change Password";
}
<style>
    body {
        background-image: url('../../Content/Images/background4.jpg');
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-default col-sm-4 col-sm-offset-4" style="margin-top:10%">
                <div class="panel-body">
                    <div class="">
                        <div style="margin: auto;width:100%;text-align:center" id="divCertificate">
                            <p class="h3" style="font-weight:bold">Change Password</p>
                        </div>
                        @*<h3 class="col-sm-offset-4" style="font-weight:bold">Change Password</h3>*@
                        <div class="row">
                            <div class="form-group">
                                <label for="username" class="text-info">Mobile Number<span style="color:red">*</span>:</label><br>
                                @Html.TextBoxFor(x => x.MobileNumber, new { id = "txtMobileNumber", @class = "form-control", @onkeypress = "IsNumeric(event)", @maxlength = "10", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="password" class="text-info">Password<span style="color:red">*</span>:</label><br>
                                @Html.PasswordFor(x => x.Password, new { id = "txtPassword", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="password" class="text-info">Password<span style="color:red">*</span>:</label><br>
                                @Html.PasswordFor(x => x.NewPassword, new { id = "txtNewPassword", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <input type="button" id="btnReset" class="btn btn-info btn-md pull-left" onclick="Reset()" value="Reset">
                                <input type="button" id="btnChangePwd" onclick="ChangePwd()" class="btn btn-info btn-md pull-right" value="Submit">
                            </div>
                        </div>
                        <div id="divError" class="alert alert-danger">
                            <span id="spnError"> </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $("#divError").hide();

    })

    IsNumeric = function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            e.preventDefault()
        }
    }
    Reset = function () {
        $("#txtMobileNumber").val("");
        $("#txtPassword").val("");
        $("#txtNewPassword").val("");
    }
    ChangePwd = function () {
        debugger;
        var url = "/Login/ChangePassword";
        var isValid = true;
        var errorMsg = "";
        if ($("#txtMobileNumber").val() == "") {
            errorMsg = "Please enter mobile number";
            isValid = false;
        } else if ($("#txtMobileNumber").val().length != 10) {
            errorMsg = errorMsg == "" ? "Please enter valid mobile number" : errorMsg + ", valid mobile number";
            isValid = false;
        }
        if ($("#txtPassword").val() == "") {
            errorMsg = errorMsg == "" ? "Please enter password" : errorMsg + ", password";
            isValid = false;
        }
        if ($("#txtNewPassword").val() == "") {
            errorMsg = errorMsg == "" ? "Please enter new password" : errorMsg + ", new password";
            isValid = false;
        }
        if (isValid == false) {
            $("#spnError").text(errorMsg);
            $("#divError").show();
        } else {
            $.ajax({
                type: "POST",
                url: url,
                data: { MobileNumber: $("#txtMobileNumber").val(), Password: $("#txtPassword").val(), NewPassword: $("#txtNewPassword").val() },
                cache: false,
                success: function (data) {
                    if (data != null) {
                        if (data.ErrorMessage == "Password changed successfully") {
                            window.location.href = '/Login/Login';
                        }
                        else {
                            $("#spnError").text(data.ErrorMessage);
                            $("#divError").show();
                        }
                    }

                }, error: function (error) {

                }
            })
        }
    }
</script>
