<div class="col-xs-9 col-xs-offset-3">
    <div class="row">
        <div class="col-xs-4">
            <a href="/Apraiser/TodayRate">              
                <img src="~/Content/Images/todayrate.jpg" class="img-responsive" style="width:100%" alt="Todays Rate"/>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="/Apraiser/ProcessLoan">                
                <img src="~/Content/Images/processloan.jpg" class="img-responsive" style="width:100%" alt="Process Loan"/>
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-4">
            <a href="/Apraiser/CustomerLoanData">
                <img src="~/Content/Images/customerdata.jpg" class="img-responsive" style="width:100%" alt="Customer Loan Data"/>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="/Apraiser/CollectLoan">
                <img src="~/Content/Images/collectloan.jpg" class="img-responsive" style="width:100%" alt="Collect Personal loans"/>
            </a>
        </div>
    </div>
</div>