@model DigitalAppraiser.Models.ViewModels.ProcessLoanModel

@{
    ViewBag.Title = "ProcessLoan";
    Layout = "~/Views/Shared/_AppraiserLayout.cshtml";
}

<style>
    nav {
        height: unset !important;
    }

    .nav {
        background: #fff;
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        font-weight: bold;
    }

        .nav a.active, a:hover {
            background: #33719b;
            transition: .5s;
            text-decoration: none !important;
            color: #fff;
        }

    .nav-tabs .nav-link.active {
        background-color: #33719b;
        color: #fff;
    }

    .tab-content {
        background: #eee;
    }

    .form label {
        display: inline-block;
        text-align: right;
        float: left;
    }

    [class*="col-"] {
        padding: 0.5rem;
    }
</style>

<div class="container-fluid">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-PawnBroker" role="tab" aria-controls="nav-home" aria-selected="true" onclick="HideTab(this)">Pawn Broker</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-Banks" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="HideTab(this)">Banks</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-PawnBroker" role="tabpanel" aria-labelledby="nav-home-tab">

                @Html.Partial("SelfCustomer", Model.selfCustomer)

            </div>

            <div class="tab-pane fade" id="nav-Banks" role="tabpanel" aria-labelledby="nav-profile-tab">

                @Html.Partial("BankCustomer", Model.bankCustomer)

            </div>
        </div>
        <input type="hidden" id="hdnActiveTab" value="@Model.ActiveTab" />
        <input type="hidden" id="hdnFirstLoad" value="@Model.isFirstLoad" />
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#loader").hide();
        ActiveMenu("liProcessLoan");

        //$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        //    localStorage.setItem('activeTab', $(e.target).attr('href'));
        //});
        //var activeTab = localStorage.getItem('activeTab');
        //if (activeTab) {
        //    $('#nav-tab a[href="' + activeTab + '"]').tab('show');
        //}
        var actTab = $("#hdnActiveTab").val();
        var activetab = "";
        if (actTab == "Bank") {
            activetab = "#nav-Banks";
            if ($("#hdnFirstLoad").val() == "False") {
                $("#nav-home-tab").hide();
            }
        } else {
            activetab = "#nav-PawnBroker";
            if ($("#hdnFirstLoad").val() == "False") {
                $("#nav-profile-tab").hide();  
            }
        }
        if (activetab) {
            $('#nav-tab a[href="' + activetab + '"]').tab('show');
        }

    })

    HideTab = function (ev) {
        debugger;
        if (ev.id == "nav-profile-tab") {
            $("#nav-home-tab").hide();           
        }
        else if (ev.id == "nav-home-tab") {
            $("#nav-profile-tab").hide();
        }
    }

    SelectLoanType = function () {
        var bankId = $("#ddBanks").val();
        var Url = "";
        if (bankId == "") {
            $("#loader").hide();
            Url = "";
            $("#divCustomerDetails").html("");
        } else if (bankId == 1) {
            Url = "/Apraiser/SelfCustomer";
        } else {
            Url = "/Apraiser/BankCustomer?BankId=" + bankId;
        }
        if (Url != "") {
            $.ajax({
                url: Url,
                type: "GET",
                cache: false,
                //data: { model: list },
                success: function (data) {
                    $("#divCustomerDetails").html(data);
                    $("#loader").hide();
                },
                error: function (error) {
                    $("#loader").hide();
                }
            })
        }
        $("#loader").hide();
    }
    IsWeight = function (evt, element) {
        //if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //    e.preventDefault()
        //}

        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && !(charCode == 46 || charCode == 8 || charCode == 45))
            return false;
        else {
            var len = $(element).val().length;
            // Validation Point
            var index = $(element).val().indexOf('.');
            if (index > -1 && charCode == 46) {
                return false;
            }
            if (index > 0 || index == 0) {
                var CharAfterdot = (len + 1) - index;
                if (CharAfterdot > 5) {
                    return false;
                }
            }

            // Validating Negative sign
            index = $(element).val().indexOf('-');
            if (index = '-1' && charCode == 45) {
                return false;
            }
        }
        return true;
    }

</script>

